* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #837fb1;
}
.container {
    h1 {
        margin-top: 100px;
        font: 400, 48px, Roboto;
        color: #ffffff;
        text-align: center;
    }

    .block {
        position: relative;
        margin: auto;
        margin-top: 40px;
        width: 700px;
        height: 360px;
        border-radius: 21px;
        background-color: #212931;
        box-shadow: 0px 2px 10px 0px #00000033;

        .img-btn {
            padding-top: 18px;
            padding-left: 23px;
        }

        p {
            padding-top: 160px;
            text-align: center;

            font: 700, 26px, Roboto;
            color: #ffffff;
        }
    }

    .bord {
        position: absolute;
        z-index: -10;
        top: 20px;
        left: 20px;
        width: 700px;
        height: 360px;
        border-radius: 21px;
        border: 1px solid #000000;
    }
}
